# Environment
.env
.env.local
.env.*.local

# Node
node_modules/
dist/
.next/
out/

# Hardhat
contracts/artifacts/
contracts/cache/
contracts/typechain-types/
contracts/coverage/
contracts/coverage.json

# Misc
.DS_Store
*.log
